.ButtonContainer {
  margin: 0 auto;
  margin-top: 50px;
  height: 50%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.SoundButton {
  outline: none;
  border: none;
  width: 100px;
  height: 60px;
  background: radial-gradient(#e1ceff, #3a1f8b);
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 20px;
}

.SoundButton__playable {
  background: radial-gradient(#a189c7, #403468);
}